third_party/paddle/exp_det_ab_unscheduled/PP-OCRv4_server_det_armv8.nb filter=lfs diff=lfs merge=lfs -text
third_party/paddle/exp_det_ab_unscheduled/PP-OCRv4_server_det_x86_64.nb filter=lfs diff=lfs merge=lfs -text
third_party/paddle/exp_det_ab_unscheduled/PP-OCRv5_server_det_armv8.nb filter=lfs diff=lfs merge=lfs -text
third_party/paddle/exp_det_ab_unscheduled/PP-OCRv5_server_det_x86_64.nb filter=lfs diff=lfs merge=lfs -text
